{{#> layout }}
<p>
    <h3>Olá, <strong>{{name}}</strong>!</h3>
</p>

<p>Para ativar sua conta na Postly, por favor clique no botão abaixo.</p>
<p>Sua conta não será criada até que seu endereço de e-mail seja confirmado.</p>

<p style="text-align: center;padding-bottom: 20px;padding-top: 20px;">
    <a href="{{url}}" style="background-color: #2F2D47;color: #fff;padding-left: 25px;padding-right: 25px;padding-top: 15px;padding-bottom: 15px;text-decoration: none;font-weight: bold;">
        Confirmar e-mail
    </a>
</p>

<p>
    Atenciosamente, <strong>Postly.</strong>
</p>
{{/layout}}
